body {
    background: url('../img/stibuilding.jpg');
    font-family: "Pacifico", cursive;
    background-repeat: no-repeat;
    background-size: 100%;
}

#login {
    font-family: "Poppins", sans-serif;
    width: 50%;
    background: #fafafa;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 3em;
    border-top: solid #800000 10px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.bg-grey {
    background: grey;
    width: 33%;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.bg-red {
    background: red;
    width: 33%;
}

.bg-yellow {
    background: yellow;
    width: 33%;
}

.bg-green {
    background: green;
    width: 33%;
}

